@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --draft: #dfe3fa;
  --pending: #ff8f00;
  --paid: #33d69f;
}
