@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --draft: #f3f3f5;
  --pending: #ff8f00;
  --paid: #33d69f;

  --draft-with-opacity: rgba(243, 243, 245, 0.1);
  --pending-with-opacity: rgba(255, 143, 0, 0.1);
  --paid-with-opacity: rgba(51, 214, 159, 0.1);
}

.v {
  color: #7c5dfa;
}
